*,
*::before,
*::after {
    box-sizing: border-box;
}

body, 
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

body {
    line-height: 1.5;
    min-height: 100vh;
}

img, 
picture {
    max-width: 100%;
    display: block;
}

input,
button, 
textarea,
select {
    font: inherit;
}   

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* UTILITY CLASSES */
  .flex{
    display: flex;
    gap: var(--gap, 1rem);
  }

  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }

  .container {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 80rem;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;    
  }




:root {
    /* COLORS */
    --color-rose-800: #7A284E;
    --color-rose-50: #FFF7FB;

    --color-stone-900: #312E2C;
    --color-stone-600: #5F564D;
    --color-stone-150: #E3DDD7;
    --color-stone-100: #F3E5D7;

    --color-brown-800: #854632;

    --color-white: #FFFFFF;
    --color-black: #000000;

    /* FONTS */
    @font-face {
        font-family: "YoungSerif-Regular", sans-serif;
        src: url(./fonts/YoungSerif-Regular.ttf) format('ttf');
    }

    @font-face {
        font-family: "Outfit-SemiBold", sans-serif;
        src: url(./fonts/Outfit-SemiBold.ttf) format('ttf');
    }

    @font-face {
        font-family: "Outfit-Bold", sans-serif;
        src: url(./fonts/Outfit-Bold.ttf) format('ttf');
    }

    @font-face {
        font-family: "Outfit-Regular", sans-serif;
        src: url(./fonts/Outfit-Regular.ttf) format('ttf');
    }

    /* FONT SIZES */
        --fs-h1



}